<!--SIGN UP-->

<% provide(:title, 'Sign up') %>

<div class="center pagecontent">
<h1>Join us</h1>
  <div>
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= render 'shared/error_messages' %>

  	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      	<%= f.label :name, class: 'mdl-textfield__label'%>
      	<%= f.text_field :name, class: 'mdl-textfield__input' %>
      </div><br>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      	<%= f.label :email, class: 'mdl-textfield__label'%>
      	<%= f.email_field :email, class: 'mdl-textfield__input' %>
      </div><br>
      
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      	<%= f.label :password, class: 'mdl-textfield__label'%>
      	<%= f.password_field :password, class: 'mdl-textfield__input' %>
      </div><br>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      	<%= f.label :password_confirmation, "Confirmation", class: 'mdl-textfield__label'%>
      	<%= f.password_field :password_confirmation, class: 'mdl-textfield__input' %>
      </div><br>


      <%= f.submit "Create my account", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent", style: "margin-top: 20px;" %>

    <% end %>
  </div>

